@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #F7F7F7;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

.nav_bar {
  position: absolute;
  width: 100%;
  z-index: 999999;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav_bar .containerr {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_bar .containerr .nav_bar_logo i {
  display: none;
  color: black;
}

.nav_bar .containerr .nav_bar_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.nav_bar .containerr .nav_bar_logo a * {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_bar .containerr .nav_bar_logo a span {
  font-size: 25px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_bar .containerr .nav_bar_logo a i {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_bar .containerr .nav_bar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100% !important;
  margin: auto;
}

.nav_bar .containerr .nav_bar_list > i {
  display: none;
}

.nav_bar .containerr .nav_bar_list li {
  margin: 10px;
}

.nav_bar .containerr .nav_bar_list li a {
  text-decoration: none;
  color: white;
}

.nav_scroll_bar {
  background-color: white;
}

.nav_scroll_bar .containerr .nav_bar_logo a * {
  color: #3E86F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.nav_scroll_bar .containerr .nav_bar_list li {
  margin: 10px;
}

.nav_scroll_bar .containerr .nav_bar_list li a {
  text-decoration: none;
  color: gray;
}

.List_your_rental {
  border: none;
  outline: none;
  background-color: #3E86F5 !important;
  color: white !important;
  font-size: 20px !important;
  padding: 0 !important;
  height: 100% !important;
  border-radius: 15px;
  z-index: 1;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.List_your_rental:active {
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}

.List_your_rental:hover .inner {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.List_your_rental .inner {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #0066ff;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
  -webkit-transition: -webkit-clip-path .25s ease-in-out;
  transition: -webkit-clip-path .25s ease-in-out;
  transition: clip-path .25s ease-in-out;
  transition: clip-path .25s ease-in-out, -webkit-clip-path .25s ease-in-out;
  z-index: -1;
}

.List_your_rental .text {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 8px;
}

.hero {
  height: 100vh;
  background-image: url("/resources/heroSection.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.hero .inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero .inner .container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.hero .inner .container .scroll {
  position: absolute;
  bottom: 0;
  margin: 20px auto;
}

.hero .inner .container .scroll:hover a i {
  color: #3E86F5;
}

.hero .inner .container .scroll a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .inner .container .scroll a .first {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-animation: scroll;
          animation: scroll;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero .inner .container .scroll a i {
  font-size: 30px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .inner .container .inner_text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .inner .container .inner_text * {
  color: white;
}

.hero .inner .container .inner_text h1 {
  width: 1000px;
  font-weight: bold;
}

.hero .inner .container .inner_text h1 span {
  color: #3E86F5;
}

.hero .inner .container .inner_text button {
  background-color: #0066ff !important;
  color: white !important;
  font-weight: normal !important;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hero .inner .container .inner_text button:active {
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}

.hero .inner .container .inner_text p {
  font-size: 20px;
}

.hero .inner .container .inner_text span {
  margin: 10px 0px 0px 0px !important;
}

.hero .inner .container .inner_text span a {
  color: #3E86F5;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

.nav_bar_list_showcloseanimation {
  -webkit-clip-path: circle(100%) !important;
          clip-path: circle(100%) !important;
}

.why_us_section .container .row {
  padding: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_us_section .container .row .img-section {
  padding: 0px 40px;
}

.why_us_section .container .row .img-section .inner_img {
  position: relative;
}

.why_us_section .container .row .img-section .inner_img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.why_us_section .container .row .img-section .inner_img .span_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.why_us_section .container .row .img-section .inner_img .span_container span {
  background: white;
  color: #3E86F5;
  font-size: 25px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: absolute;
}

.why_us_section .container .row .img-section .inner_img .span_container span p {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}

.why_us_section .container .row .img-section .inner_img .span_container .visitord {
  position: absolute;
  bottom: 260px;
  right: 80%;
}

.why_us_section .container .row .img-section .inner_img .span_container .brand {
  left: 80%;
  bottom: 560px;
}

.why_us_section .container .row .img-section .inner_img .span_container .properties {
  bottom: 160px;
  left: 80%;
}

.why_us_section .container .row .img_text_container {
  padding-left: 100px;
}

.why_us_section .container .row .img_text_container h1 {
  font-weight: bold;
}

.why_us_section .container .row .img_text_container .title {
  font-size: 20px;
  color: #0066ff;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .nav_bar .containerr .nav_bar_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 15px;
  }
  .nav_bar .containerr .nav_bar_logo > i {
    font-size: 35px !important;
    font-weight: bold;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .nav_bar .containerr .nav_bar_list {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3E86F5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
    -webkit-transition: -webkit-clip-path .5s ease-in-out;
    transition: -webkit-clip-path .5s ease-in-out;
    transition: clip-path .5s ease-in-out;
    transition: clip-path .5s ease-in-out, -webkit-clip-path .5s ease-in-out;
  }
  .nav_bar .containerr .nav_bar_list > i {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: 0;
    margin: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  .nav_bar .containerr .nav_bar_list li a {
    font-size: 25px;
  }
  .nav_bar .containerr .List_your_rental {
    display: none;
  }
  .hero .inner .social_media {
    display: none;
  }
  .hero .inner .container .inner_text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .inner .container .inner_text * {
    color: white;
  }
  .hero .inner .container .inner_text h1 {
    font-size: 40px;
    width: auto;
  }
  .why_us_section .container .row {
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why_us_section .container .row .img-section {
    padding: 40px;
  }
  .why_us_section .container .row .img-section .inner_img {
    position: relative;
  }
  .why_us_section .container .row .img-section .inner_img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .why_us_section .container .row .img-section .inner_img .span_container span {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .why_us_section .container .row .img-section .inner_img .span_container .visitord {
    position: absolute;
    bottom: 260px;
    right: 62%;
  }
  .why_us_section .container .row .img-section .inner_img .span_container .brand {
    left: 62%;
    bottom: 360px;
  }
  .why_us_section .container .row .img-section .inner_img .span_container .properties {
    bottom: 100px;
    left: 62%;
  }
  .why_us_section .container .row .img_text_container {
    padding: 10px 30px;
    text-align: center;
  }
  .why_us_section .container .row .img_text_container h1 {
    font-size: 20px;
  }
  .why_us_section .container .row .img_text_container .title {
    font-size: 18px;
  }
  .why_us_section .container .row .img_text_container .title,
  .why_us_section .container .row .img_text_container p {
    width: 300px !important;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .nav_bar .containerr {
    width: 100% !important;
  }
  .nav_bar .containerr .nav_bar_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 15px;
  }
  .nav_bar .containerr .nav_bar_logo > i {
    font-size: 35px !important;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_bar .containerr .nav_bar_list {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3E86F5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
    -webkit-transition: -webkit-clip-path .5s ease-in-out;
    transition: -webkit-clip-path .5s ease-in-out;
    transition: clip-path .5s ease-in-out;
    transition: clip-path .5s ease-in-out, -webkit-clip-path .5s ease-in-out;
  }
  .nav_bar .containerr .nav_bar_list > i {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    color: white;
    font-size: 35px;
  }
  .nav_bar .containerr .nav_bar_list li a {
    font-size: 25px;
  }
  .nav_bar .containerr .List_your_rental {
    display: none;
  }
  .hero .inner .container .inner_text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .inner .container .inner_text * {
    color: white;
  }
  .hero .inner .container .inner_text h1 {
    font-size: 40px;
    width: auto;
  }
  .why_us_section .container .row {
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why_us_section .container .row .img-section {
    padding: 10px;
  }
  .why_us_section .container .row .img-section .inner_img {
    position: relative;
  }
  .why_us_section .container .row .img-section .inner_img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .why_us_section .container .row .img-section .inner_img .span_container .visitord {
    position: absolute;
    bottom: 260px;
    right: 70%;
  }
  .why_us_section .container .row .img-section .inner_img .span_container .brand {
    left: 70%;
    bottom: 560px;
  }
  .why_us_section .container .row .img-section .inner_img .span_container .properties {
    bottom: 160px;
    left: 70%;
  }
  .why_us_section .container .row .img_text_container {
    padding: 20px 60px;
    text-align: start;
  }
  .why_us_section .container .row .img_text_container .title {
    margin: 100px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .why_us_section .container .row {
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why_us_section .container .row .img-section {
    padding: 20px 25px;
  }
  .why_us_section .container .row .img-section .inner_img {
    position: relative;
  }
  .why_us_section .container .row .img-section .inner_img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .why_us_section .container .row .img-section .inner_img .span_container .visitord {
    bottom: 260px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    right: 60%;
  }
  .why_us_section .container .row .img-section .inner_img .span_container .brand {
    left: 60%;
    bottom: 360px;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .why_us_section .container .row .img-section .inner_img .span_container .properties {
    bottom: 100px;
    left: 60%;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .why_us_section .container .row .img_text_container {
    padding: 0px 0px 0px 40px;
    text-align: start;
  }
  .why_us_section .container .row .img_text_container h1 {
    font-size: 20px;
  }
  .why_us_section .container .row .img_text_container .title {
    margin: 100px 0px;
    font-size: 18px;
  }
  .why_us_section .container .row .img_text_container p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=index.css.map */